body {
    margin: 0;
    padding: 0;
}

.header {
    box-sizing: border-box;
    background-color: #101010;
    height: 220px;
}

.header_sub {
    color: #ffffff;
    /* padding-top: 50px; */
    /* padding-left: 300px; */
    width: 1000px;
    margin: 0 auto;
    padding: 50px 0;
}

.header_left { float: left;}
.header_right { float: left; }

.profile {
    float: left;
    width: 120px;
    height: 120px;
    border-radius: 70%;
    overflow: hidden;
    margin-right: 10px;
}

.photo {
    width: 100%;
    object-fit: cover;
}

.name {
    font-size: 40px;
    font-weight: bold;
    padding-top: 35px;
}

.portfolio {
    font-weight: bold;
    margin-left: 100px;
    padding-top: 8px;
    font-size: 20px;
}

.menubar {
    background-color: #222;
    padding: 20px;
    text-align: center;
    font-weight: bold;
  
}

.menubar ul {
    margin-right: 55px;
}

.menubar ul li {
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
    
}

.menubar .active a {
    color: #13aff0;
}

a:hover {
    color: #13aff0;
}

a{
    text-decoration: none;
    color: #ffffff;
}

/* 일러스트 사진 */
